.dropdown {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    width: 100%;
}

.dropdown label {
    font-weight: 600;
    margin: 5px 0;
}

.dropdown select {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 100%;
    padding: 12px 5px;
    border-radius: 4px;
    font-size: 15px;
}